{% extends "base.html" %}

{% block content %}
<div class="my-3">
    {% if object.author == user %}
        <a href="{% url 'post-update' object.id %}"> <button class="btn btn-info"> Update Post </button> </a>
    {% endif %}
</div>
<h2> {{object.title}} </h2>

<article>
    <div >
        <div>
            <a href="">
                {{ object.author }}
            </a>
            <small>
                {{ object.date_posted | date:"Y, F d" }}
            </small>
        </div>
        <div class="">
            {% if object.author == user %}
                <a href="{% url 'post-update' object.id %}"> <button > Update Post </button> </a>
                <a href="{% url 'post-delete' object.id %}"> <button > Delete Post </button> </a>
            {% endif %}
        </div>
        <h2> {{object.title}} </h2>
        <p> {{object.content}} </p>
    </div>
</article>

{% endblock content %}